@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-mohave: "Mohave", sans-serif;
}
.mohave {
  font-family: var(--font-mohave);
  font-weight: var(--font-weight);
}
.lightGrayBg {
  background-color: #d9d9d9;
}
/*cta1*/
.blueBg {
  background-color: #55ddc9;
}
.darkBg {
  background-color: #2b2b2b;
}
.darkText {
  color: #2b2b2b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
