@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/*for email button*/
.email-border {
  border-radius: 80px 50px 50px 0px;
}
.footer-border {
  border-radius: 70px 50px 50px 0px;
}
.lightGrayBg {
  background-color: #D9D9D9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
