@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  overflow-x:hidden;
}

:root {
  --background: #d9d9d9;
  --foreground: #2b2b2b;
  --font-mohave: "Raleway", sans-serif;
}
.mohave {
  font-family: var(--font-mohave);
  font-weight: var(--font-weight);
}
.mohaveHeader{
  font-family: var(--font-mohave);
  font-weight: 700;
}
.raleway {
  font-family: var(--font-raleway);
  font-weight: var(--font-weight);
}
.ralewayRegular {
  font-family: var(--font-raleway);
  font-weight: 400;
}
.ralewayBold {
  font-family: var(--font-raleway);
  font-weight: 600;
}
.lightGrayBg {
  background-color: #d9d9d9;
}
/*cta1*/
.blueBg {
  background-color: #55ddc9;
}
.blueText{
  color: #55ddc9;
}
.darkBg {
  background-color: #2b2b2b;
}
.darkText {
  color: #2b2b2b;
}
.text-shadow {
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}
